* {

}

.third-content-right{
	position: absolute;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	background-color: white;
	width: 30%;
	height: 100%;
	right: 0px;
	overflow: hidden;
	box-shadow: 5px 0px 10px 15px #E3E3E3;
}

.th-header{
	width: 100%;
	height: 45px;
	background-color: black;
	padding: 0px;
	margin: 0px;
	position: absolute;
}

.Waitlist{
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: #EDEFF5;
	right: 0px;
}
.Reservation{
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: white;
	left: 0px;
}

a:hover{
	cursor: pointer;
}


.third-content-left{
	position: absolute;
	width: 70%;
	height: 100%;
	background-color: #EDEFF5;
	padding-bottom: -45px;
	padding-top: 0px;
}

.t-c-l-Header{
	width: 100%;
	height: 45px;
	background-color: #EDEFF5;
	margin: 0px;
	padding-left: 35px;
}

.t-c-l-Header a{
	margin: 0px;
	display: inline-block;
	padding-top: 15px;
	margin-right: 20px;
}

.bottom{
	box-shadow: none;
	border-top: 2px solid #EDEFF5;
}

.tc-header{
	width: 100%;
	margin-top: 45px;
	height: 45px;
	border-bottom: 2px solid #EDEFF5;
}

.subtc-header{
	width: 30%;
	background-color: white;
	position: initial;
	display: inline-block;
	margin: 0px;
	padding-top: 15px;
}

.tc-Content{
	width: 100%;
	height: 100%;
	padding-left: 20px;
	color: #A0A0A0;
}

.box-content{
	box-shadow: none;
	border: 1px solid #D7D7D7; 
	border-radius: 5px;
	height: 80px;
	padding-top: -10px;
	margin-bottom: 10px;
}

.bc-middle{
	padding-top: 5px;
}

.bc-left, .bc-right{
	padding-top: -10px;	
	margin-top: -10px;
	height: 110%;
}

.third-content-left .content-body .box-content{
	width: 250px;
	height: 80px;
}

.third-content-left .content-body .box-content .bc-left{
	padding-top: 0px;	
	margin-top: -10px;
	height: 100%;
	background-color: white;
}

.third-content-left .content-body .box-content .bc-middle{
	padding-top: 5px;
}

