.green{
	background-color: #50C14E;
}

.blue{
	background-color: #2C7EDC;
}

.grey{
	background-color: #9DA5BE;
}

.red{
	background-color: #F05177;
}

.c-Button:hover{
	cursor: pointer;
}

.Backblue{
	background-color: #2C7EDC;
}

.abu-abu-gelap{
	color: #797A7E;
}

.abu-abu-terang{
	color: #9CA5C0;
}

.top{
	box-shadow: none;
	border-bottom: 3px solid #EDEFF5;
}

.super-content{
	/*height: 88.57%;*/
	height: 95%;

	background-color: white;
}

.second-content-left{
	position: absolute;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	width: 30%;
	height: 100%;
	overflow: hidden;
}

.second-content-right{
	position: absolute;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	background-color: #EDEFF5;
	width: 30%;
	height: 100%;
	right: 0px;
	overflow: hidden;
}

.second-content-center{
	position: absolute;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	background-color: white;
	width: 40%;
	height: 100%;
	left: 30%;
	overflow: hidden;
}


.s-c-l-body{
	position: absolute;
	box-sizing: border-box;
	width: 90%;
	height: 100%;
	overflow: scroll;
	/*background-color: black;*/
}


.second-content-left .contentb{
	height: 35px;
	margin: auto;
	margin-top: 0px;
}

.search{
	width: 70%;
	background-color: white;
	border:2px solid #A0A0A0;
}
.search p{
	margin: -5px 0px 0px 15px;
	padding-top: 15px;
	color: #A0A0A0;
}

.listNumber{
	margin-top: 0px;
	width: 100%;
	padding: 16px;
}

.listNumber:hover{
	cursor: pointer;
}

.listNumber .nama{
	margin-left: 15px;
}

.listNumber .nomer{
	right: 0px;
	color: #A0A0A0;
}

.active .nomer{
	color: white;
}

.listNumber p{
	position:absolute;
	font-size: 18px;
	padding: 0px;
	margin: 8px;
}

.s-c-l-right{
	padding-top: 10px;
	position: absolute;
	box-sizing: border-box;
	width: 10%;
	/*height: 592.1;*/
	height: 900px;
	background-color: #EDEFF5;
	right: 0px;
}


.second-content-left .s-c-l-right div{
	width: 25px;
	height: 25px;
	margin-left: 8px;
	box-sizing: border-box;
	border-radius: 125px;
	padding-top: 2px;
	padding-left: 2px;
	
}


.second-content-left .s-c-l-right div:hover{
	color: blue;
}
.second-content-left .s-c-l-right .active{
	/*border: 1px solid red;*/
	box-sizing: border-box;
	background-color: white;
	color: blue;
}

.second-content-left .s-c-l-right p{
	/*display: inline-block;*/
	font-size: 10px;
	margin: 0px 0px 0px 0px;
	padding: 4px 10px 0px 7px;
	cursor: pointer;
}




.second-content-right div{
	font-size: 16px; 
	margin: 0px;
	margin-left: 25px;
	margin-top: 5px;
}

.second-content-right div .sub{
	display: inline-block;
	font-size: 12px;
	color:#898989;
	margin-left: 50px;
}

.rcr{
	height: 40px;
	width: 90%;
	background-color: white;
	padding: 0px;
	font-family: MyRiad;


}

.rcr p{
	padding-left: 5px;
	font-family: MyRiad;
	font-size: 20px;
	color: #6E6E6E;
}

.rcr .green{
	/*position: absolute;*/
	/*background-color: green;*/
	width: 70px;
	height: 25px;

}
.green p{
	position:absolute;
	font-size: 18px;
	padding: 0px;
	margin: 0px 0px 0px 12px;
	color: white;
}

.blue p{
	position:absolute;
	font-size: 18px;
	padding: 0px;
	margin: 0px 0px 0px 12px;
	color: white;
}

.rcr .isi{
	margin-top: 8px;
	display: inline-block;
}

.rcr .cyrcle{
	position: absolute;
	margin-top: 7px;
	right: 130px;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	/*background-color: black;*/
	text-align: center;
}
.rcr .cyrcle p{
	margin-top: 1px;
}

.rcr .blue p{
	color: white;
}

.rcr .cyrcle2{
	position: absolute;
	margin-top: 8px;
	right: 30px;
	width: 25px;
	height: 25px;
	font-size: 20px;
	border-radius: 25px;
	/*background-color: black;*/
	text-align: center;
	background-color: transparent;
	color: #9DA5BE;
}
.rcr .teks{
	position: absolute;
	margin-left: 5px;
}

.s-c-c-TOP{
	padding-left: 20px;
}

.s-c-c-TOP p{
	font-size: 25px;
	color: #5093E1;
	margin-bottom: 10px;
/*	display: inline-block ;*/
}

.s-c-c-TOP span{
	color: #9DA5BE;
}

.scc-t{
	background-color: #50C14E;
	height: 25px;
	padding-left: 15px;
	color: white;
	padding-top: 5px;
	display: inline-block;
	margin: 0px;
}

.t-Left{
	width: 90px;
}

.t-right{
	width: 45px;
}

.scc-description{
	position: absolute;
	width: 200px;
	height: 200px;
	margin-left: 280px;
	margin-top: 50px;
}

.scc-description p{
	color: #9CA5C0;
	margin-top: 0px;
	font-size: 15px;

}

.customcombo{
	background-color: #F6F7FA;
	height: 35px;
	font-family: MyRiad;
	border: none;
}

.R span{
	color: #5093E1;
}

.S span{
	color: #50C14E;
}

.A span{
	color: #F65177;
}

.P span{
	color: #9CA5C0;
}

.scc-bottom{	
	margin-top: -25px;
}

.scc-bottom p{
	color: black;
	font-size: 18px;
	font-family: GILL;
}


.scc-bottom .custom{
	background-color: #2C7EDC;
	position: absolute;
	display: inline-block;

}

.scc-bottom .custom2{
	background-color: #50C14E;
	position: absolute;
	display: inline-block;

}


.scc-b-c-1{
	margin: 10px 0px 0px 70px;
}

.scc-b-c-2{
	margin: 10px 0px 0px 140px;
}

.scc-b-c-3{
	margin: 10px 0px 0px 210px;
	width: 50px;
}

.scc-b-c-4{
	margin: 10px 0px 0px 280px;
	width: 50px;
}

.scc-b-c-5{
	margin: 10px 0px 0px 350px;
	width: 50px;
}

.scc-circle{
	height: 270px;
	width: 270px;
	background-image: url("../img/icon/Untitled-1.png");
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 30px;

}

.value-circle{
	height: 160px;
	width: 160px;
	border-radius: 200px;
	background-color: white;
	z-index: 2;	
	margin: auto;
	text-align: center;
	margin-top: 40px;
	/*overflow: hidden;*/
}
.value-circle span{
	position: absolute;
	font-size: 12px;
	margin-left: -40px;
}