
/*Note Screen Size  1366*659 */

@font-face {
    font-family: myFirstFont;
    src: url(gil.ttf);
    /*font-weight: bold;*/
}


		@font-face {
		    font-family: GILL;
		    src: url(gil.ttf);
		}
		@font-face {
		    font-family: MyRiad;
		    src: url(MyriadPro-Regular.otf);
		}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;

    }
	
	/*Button to open and close slide*/
	.top-slide{
		display: inline-block !important;
	}

	.super-content{
		margin-left: 0px !important;
		width: 100% !important;
	}
	.content-body{
		width: 100%;
		margin-left: 0px !important;
	}
	.left{
		display: none;
	}
	.top-left{
		display: none !important;
	}
	.top-center{
		/*display: none !important;*/
		/*font-size: 10px !important;*/
	}

	.top-right{
		display: none !important;
	}
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/*@font-face {
  font-family: 'Tangerine';
  src: url('../Fonts/gil.ttf') format('truetype');
}*/

.myriad{
  font-family: MyRiad;
}

.abu-abu-gelap{
	color: #797A7E;
}

.abu-abu-terang{
	color: #9CA5C0;
}

p,span{
  font-family: GILL;
  /*font-size: 48px;	*/
}

.radius5{
	border-radius: 5px;
}




.radius25{
	border-radius: 25px;
}


body, .fixed{
	/*background-color: black;*/
	margin: 0px;
	padding: 0px;
	background-color: #EDEFF5;
}

*{
	/*border: 1px solid yellow;*/
}
.clear-float{
	clear: both;
}

.fixed{
	position: fixed;
}

.left{
	overflow: hidden;
	background-color: #2F323A;
	width: 56px;
	height: 100%;
	left: 0px;
	margin-top: 0px;
}

.left div{
	padding-top: 75px;
}

.left div img{
	padding: 14px;
	margin: 0px;
}
.left div img:hover{
	background-color:#5093E1; 
}

.active{
	background-color: #5093E1;
}



.top{
	background-color: white;
	top: 0px;
	height: 75px;
	width: 100%;
	box-shadow: 5px 5px 10px #E3E3E3;
	padding-left: 55px;
}

.top div{
	position: absolute;
	margin-left: 35px;
	margin-top: -10px;
	/*border: 1px solid blue;*/
	display: inline-block;
}

.top div p{
	text-align: center;
	font-size: 20px;
}


.top .top-center{
	position: relative;
	display: block;
	margin: auto;
	width: 200px;
	height: 35px;
	/*border: 1px solid black;*/
	left: 50%;
	margin-left: -150px;
}

.top .top-center-top{
	padding-left: 26px;
	padding-top: 12px;
}

.top .top-center-top p{
	display: inline-block;
	/*border: 1px solid red;*/
	margin-top: 4px;
	padding-left: 8px;
}

.top .top-center-bottom{
	padding-top: 0px;
}

.top .top-center-bottom p{
	font-size: 14px;
	display: inline-block;
	margin: 8px 4px 2px 10px;
	color: #A0A0A0;
}

.top .top-right{
	position: absolute;
	display: inline-block;
	right: 0px;
	width: 450px;
	height: 75px;
	margin: 0px;
	/*border: 1px solid red;*/
	margin-right: 55px;
	overflow: hidden;
}

.top .top-right .right{
	width: 50px;
	height: 100%;
	background-color: #5093E1;
	right: 0px;
	margin: 0px;
	text-align: center;
	padding-top: 15px;
	color: white;
	font-size: 35px;
}

.top .top-right .right-top{
	margin: 0px;
	right: 80px;
	bottom: 45px;
	width: 250px;
	height: 25px;
	border-radius: 5px;
	/*border: 1px solid green;*/
}

.top .top-right .right-top p{
	margin: 4px;
	position: absolute;
	font-size: 12px;
	display: inline-block;
	color: #A0A0A0;
	/*border: 1px solid red;*/
}

.top .top-right .right-top img{
	/*border: 1px solid red;*/
	float: right;
}

.top .top-right .right-top progress{
	height: 5px;
	width: 100px;
	border-radius: 25px;
	overflow: hidden;
	float: right;
	margin: 10px 25px 0px 0px;
	border: none;
	/*color: #000000;*/
	/*border: 1px solid red;*/
	/*background-color: black;*/
	/*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;*/
	/*background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;*/
}


.top .top-right .right-bottom{
	margin: 0px;
	right: 80px;
	bottom: 10px;
	width: 150px;
	height: 25px;
	border-radius: 5px;
	/*border: 1px solid yellow;*/
}

.top .top-right .right-bottom .custom-combo{
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	width: 100px;
	height: 25px;
	margin: 0px;
	cursor: pointer;
}
.top .top-right .right-bottom .custom-combo:hover{
	background-color: #5093E1;

}

.top .top-right .right-bottom .custom-combo p{
	position: absolute;
	display:inline-block;
	margin: 0px;
	margin-left: 25px;
	color: #C4C4C4;
}


div p span{
	color: #5093E1;
}


ul{
	position: absolute;
	list-style: none;
	top: 30px;
}
li{
	float: left;
}
a{
	color: #A0A0A0;
	margin-left: 10px;
	font-size: 20px;
	text-decoration: none;
}
a:hover{
	color: #5093E1;
}

a[href="##"]{
	color: black;
	border-bottom: 5px solid #5093E1;
}

/*hr{
	border-width: 1.5px;
	border-color: #5093E1;
}

.top .navigator-top{
	position: absolute;
	width: 100px;
	height: 50px;
	border: 1px solid yellow;
	top: 35px;
	padding: 0px;
}*/


.bottom{
	background-color: white;
	width: 100%;
	height: 45px;
	bottom: 0px; 
	box-shadow: 5px -5px 10px #E3E3E3;
	padding-left: 55px;
}

.bottom-right{
	display: inline-block;
	margin: 0px;
	width: 700px;
	height: 45px;
	float: right;
	/*border: 1px solid blue;*/

}
.bottom .bottom-right .container-people p{
	float: left; margin: 6px; color: #A0A0A0;
}
.bottom .bottom-right .container-people{
	display: inline-block;
	position: absolute;
	right: 0px;
	margin: 6px 95px 0px 0px;
}

.bottom .bottom-right .container-people .people{
	width: 30px;
	height: 30px;
	/*border: 1px solid black;*/
	display: inline-block;
	float: left;
	margin-left: 25px;
	cursor: pointer;
	
}
.bottom .bottom-right .container-people .Singgle{
	background-image: url("../img/icon/singgle_Contacts_32px.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bottom .bottom-right .container-people .Double{
	background-image: url("../img/icon/User Account_32px.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.bottom p{
	display: inline-block;
	padding-left: 15px;
	font-size: 14px;

}

.R span{
	color: #5093E1;
}

.S span{
	color: #50C14E;
}

.A span{
	color: #F65177;
}




.super-content{
	position: fixed;
	z-index: -1;
	/*border: 1px solid green;*/
	margin: 75px 1px 0px 55px;
	/*padding-bottom: -55px;*/
	width: 96%;
	height: 82.5493%;
	overflow-y: auto;

}

.content-body{
	background-color: #EDEFF5;
	margin-left: 35px;
	padding: 8.5px 0px 0px 0px;
	display: inline-block;
	overflow: hidden;
}

.box-content{
	overflow: hidden;
	width: 332.5px;
	height: 75px;
	/*border: 1px solid green;*/
	margin: 0px;
	background-color: white;
	box-shadow: 5px 5px 10px #E3E3E3;
	/*overflow: unset;*/

	/*border: 1px solid red;*/
	border-radius: 5px;
}

.bc-left{
	box-sizing: border-box;
	height: 100%;
	width: 70px;
	/*border: 1px solid red;*/
	background-color: #FBFBFB;
	float: left;
}
.bc-middle{
	position: absolute;
	padding-top: 10px;
	margin-left: 75px;
	width: 200.17px;
}

.bc-right{
	box-sizing: border-box;
	height: 100px;
	width: 70px;
	/*border: 1px solid red;*/
	border-left: 5px solid #FBFBFB;
	/*background-color: #FBFBFB;*/
	float: right;
}

.bc-right .desk{
	margin: -15px auto 0px auto;
	text-align: center;
	font-size: 15px;
	color: #7F8387;
}

.box-content .bc-middle p{
	margin: 0px;
	margin-top: 5px;
}


.bc-middle .abu-abu-gelap{
	font-size: 11pt;
	top: 27px;
}

.bc-middle .abu-abu-terang{
	font-size: 12pt;
	top: 43px;
}

.bc-value-blue .bc-middle span{
	position: absolute;
	top: 10px;
	font-size: 15pt;
	color: #5093E1;
}

.bc-value-blue .bc-right i{
	padding-left: 20px;
	color: #5093E1;
}

.bc-value-blue .bc-right .bcr{
	height: 35px;
	width: 35px;
	margin: auto;
	margin-top: 20%;
}

.bc-value-green .bc-middle span{
	position: absolute;
	top: 10px;
	font-size: 15pt;
	color: #50C14E;
}

.bc-value-green .bc-right i{
	padding-left: 20px;
	color: #50C14E;
}

.bc-value-green .bc-right .bcr{
	height: 35px;
	width: 35px;
	margin: auto;
	margin-top: 20%;
}

.bc-value-purple .bc-middle span{
	position: absolute;
	top: 10px;
	font-size: 15pt;
	color: #492A8B;
}

.bc-value-purple .bc-right i{
	padding-left: 20px;
	color: #492A8B;
}

.bc-value-purple .bc-right .bcr{
	height: 35px;
	width: 35px;
	margin: auto;
	margin-top: 20%;
}


.bc-value-red .bc-middle span{
	position: absolute;
	top: 10px;
	font-size: 15pt;
	color: #F65177;
}

.bc-value-red .bc-right i{
	padding-left: 20px;
	color: transparent;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #F65177;
}

.bc-value-red .bc-right .bcr{
	height: 35px;
	width: 35px;
	margin: auto;
	margin-top: 20%;
}

.bc-middle .myriad{
	/*margin-top: 29.67px;*/
	position: absolute;
	/*font-size: 12.73pt;*/
}




.none{
	background-color: #EDEFF5;
	box-shadow: none;
	color: #A0A0A0;
}

.none p{
	margin-top: 30px;
}


